<!-- header pic -->
<%= image_tag("/assets/sunset.jpg",  alt: "like", class: "img-responsive imgtop") %>

<!--profile picture-->
<%= image_tag profile_pic(current_user), class: "user-pic-md img-circle" %>

<!-- content starts -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Twitter</h1>
            <p>
                @Twitter<br />
                What's Happening?
            </p>
            <ul class="twitlist">
                <li class="litwitlist"><i class="glyphicon glyphicon-map-marker"></i> Everywhere</li>
                <li class="litwitlist"><i class="glyphicon glyphicon-link"></i> about.twitter.com</li>
                <li class="litwitlist"><i class="glyphicon glyphicon-map-marker"></i> View Broadcast</li>
                <li class="litwitlist"><i class="glyphicon glyphicon-calendar"></i> Joined this date</li>
                <li class="litwitlist"><i class="glyphicon glyphicon-gift"></i> Born this date</li>
                <li class="litwitlist"><i class="glyphicon glyphicon-picture"></i> This many pictures</li>
            </ul>
        </div>


        <!-- middle starts in other pages for users feeds-->
