
        <!--row 3-->
        <div class="col-md-1">
            <div class="well">
                <h1>New To Twitter?</h1>
                <p>
                    Sign up now to get your own<br />
                    personalized timeline! <br /><br />
                    <button type="button" class="btn btn-primary btn-lg active">
                        Sign Up!
                    </button>
                </p>
            </div>
        </div>

        <div class="col-md-1">
            <div class="well">
                <h1>You May Also Like?</h1>
                <p>
                    <br>
                    Follow these cool accouunts now!<br />
                    <br /><br />
                    <span class="bold">
                        <img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/youtube-icon_64x64.png"
                            alt="" srcset=""> Youtube @youtube
                        <br><br>
                        <img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_64x64.png"
                            alt="" srcset=""> Twitter @twitter
                    </span>
                </p>

            </div>
                <footer>
                    <ul class="footer">
                        <li class="footerli"> policy </li>
                        <li class="footerli"> help </li>
                        <li class="footerli"> contact </li>
                        <li class="footerli"> resources </li>
                    </ul>
            </footer>
        </div>
    </div>
</div>
